.About {
  background: rgba(255, 255, 255, 0.884);
  color: #444444;
  width: 70%;
  margin: 20px auto;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 30px;
  box-shadow: 0 0 5px 1px rgba(185, 185, 185, 0.493);
  margin-bottom: 10px;
  text-align: justify; }

.photos {
  width: 100%;
  margin: 20px 0; }

@media only screen and (max-width: 415px) {
  .About {
    width: 100%;
    padding: 10px;
    border-radius: 0px; } }
