$navBgColor: linear-gradient(to right, rgba(255, 255, 255, 0.692), #bebdb9e0);
$navBgHover: rgba(150, 208, 233, 0.322);
$fontColorDark: rgb(68, 68, 68);
$fontColorLight: rgb(233, 233, 233);
$yellow: #ebff33;
$green: #a0fb71;
$seledyn: #58f8ab;
$blue: #12f6e9;
$dark-green: #2f8f75;