.navigation {
  width: 100%;
  list-style: none;
  z-index: 888; }
  .navigation__item {
    padding: 2vh 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    transition: all 0.1s; }
    .navigation__item:hover {
      background: rgba(150, 208, 233, 0.322); }
  .navigation__item a {
    color: #444444;
    text-decoration: none; }
  .navigation .active {
    color: #2f8f75;
    text-shadow: 1px 0 2px #c7c7c7;
    font-weight: bold;
    transition: all 0.5s; }

@media only screen and (max-width: 415px) {
  .navigation {
    height: 70px;
    max-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 2px 0 5px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px; }
    .navigation__item {
      width: auto;
      padding: 0; }
    .navigation__item:nth-child(n + 7) {
      display: none; }
    .navigation .active {
      color: #2f8f75;
      text-shadow: 2px 1px 2px #c7c7c7;
      font-weight: bold;
      transition: all 0.5s; }
    .navigation a {
      color: #444444; }
    .navigation .icons {
      display: block;
      font-size: 35px;
      margin: 0 auto; }
    .navigation #menuBtn {
      display: block; }
  .moreMenu {
    position: absolute;
    height: calc(100vh - 70px);
    top: calc(-100vh + 70px);
    left: 0;
    width: 100%;
    background: linear-gradient(#2f8f75, rgba(0, 0, 0, 0.692));
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: all 0.6s;
    border-bottom: 0.5px solid grey; }
    .moreMenu li {
      padding: 20px;
      font-size: 150%; }
    .moreMenu .icons {
      margin-right: 5px;
      display: inline-block; }
  .moreMenu--close {
    top: 70px;
    opacity: 0; } }

@media (hover: none) {
  .navigation__item:hover {
    background: none; } }
