.App {
  display: flex;
  height: 100vh; }

nav {
  display: flex;
  flex: 1;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.692), #bebdb9e0);
  align-items: center;
  justify-content: flex-end;
  z-index: 888; }

.content {
  flex: 4;
  overflow: auto;
  text-align: center;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.692), #d8d7d1dc); }

@media only screen and (max-width: 415px) {
  .App {
    flex-direction: column-reverse; }
  nav {
    max-height: 70px;
    min-height: 70px;
    width: 100%;
    position: fixed;
    z-index: 100;
    color: #444444; }
  .content {
    padding-bottom: 70px; } }
