.bgImages {
  z-index: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: all 3s ease-in-out;
  background-image: url(../../images/daria.jpg); }
